<div class="dashboard-component">

    <div class="dashboard-content">
        <div id="about">
            <h1 class="about">About</h1>
            <p>
                Web app that displays Covid-19 statistics.<br>
                Written using Angular, Chart.js for charts and Angular Material for tables.<br>
                Data is fetched from https://covid19api.com/
            </p>
            <p class="how-start">
                Start by choosing some filters!
            </p>


        </div>

        <div id="code">
            <h1>Useful links</h1>
            <h4>Project code</h4>
            <h4>Project code</h4>
        </div>

    </div>

</div>