<div class="dashboard-component">

    <div class="dashboard-content">
        <div id="about">
            <h1 class="about">About</h1>
            <p>
                Application displaying Covid-19 statistics.<br>
                Coded using Angular, Chart.js for data visualisation and Angular Material for tables.<br>
                All data is fetched from <a href="https://covid19api.com/">https://covid19api.com/</a>
                <br><br>
                You can sort data by clicking on column header
            </p>
            <p class="how-start">
                Start by choosing some filters!
            </p>


        </div>

        <div id="links">
            <h1>Links</h1>
            <a href="https://github.com/AleksandraWolska/CovidApp">Project code</a>
            <a href="https://aleksandrawolska.github.io/">Contact</a>
            
        </div>

    </div>

</div>